# ----------------------------------------------------------------------
# Dependencias de Node (¡No se suben porque pesan muchísimo!)
# ----------------------------------------------------------------------
node_modules/

# ----------------------------------------------------------------------
# Variables de entorno y secretos (¡NUNCA SE SUBEN!)
# ----------------------------------------------------------------------
.env
.env.local

# ----------------------------------------------------------------------
# Logs de errores (Basura que genera npm a veces)
# ----------------------------------------------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------------------------------------------------------
# Archivos del Sistema Operativo (Ocultos de Windows/Mac)
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db